<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
    <title>Register Event </title>
</head>
<body>
    <div class="header">
        Register An Event
    </div>
    <form action="/registerevents" method="post" id="eventbox">
        <input type="text" placeholder="enter an event name" name="name">
        <input type="date" name="lastDateRegisteration" id="" >
        <input type="submit" value="Register Event ">



    </form>
</body>
</html>