*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    font-size: 3rem;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
#eventbox{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}
input[type="text"]{
    width: 300px;
    outline: none;
    font-size: 1.1rem;
    padding: 8px;
    margin-bottom: -1px;
}
input[type="date"]{
    width: 300px;
    outline: none;
    font-size: 1.1rem;
    margin-bottom: -1px;
    padding: 8px;
}
input[type="submit"]{
    width: 300px;
    outline: none;
    padding: 8px;
    border: none;
    margin-bottom: -1px;
    background-color: rgb(47, 103, 187);
    color: white;
    font-size: 1.1rem;
    font-size: 1.3rem;
}